.role{
    display: flex;
    align-items: center;
    justify-content: center;
}
.role-role{
    position: relative;
    width: fit-content;
    padding: 4px 12px;
    border: 1px solid rgba(129, 166, 182, 0.13);
    border-radius: 8px;
    top: -15px;
    background:#0f172a;
    color: rgb(132, 157, 168);
}
